>## **¿Qué hace este código?** ##

Verifica si el archivo existe antes de intentar leerlo.

Imprime la ruta absoluta correcta que puedes utilizar directamente para cargar el archivo.

Carga el archivo CSV si existe y muestra las primeras filas.

Si el archivo no se encuentra:

Asegúrate de que el archivo esté en el mismo directorio donde estás ejecutando el notebook.

In [10]:
import pandas as pd
import os

# Definir el nombre del archivo
file_name = 'sales (2).csv'

# Verificar la existencia del archivo en el directorio actual
if os.path.exists(file_name):
    # Obtener la ruta absoluta
    absolute_path = os.path.abspath(file_name)
    print(f'Ruta absoluta del archivo: {absolute_path}')
    
    # Cargar el archivo CSV usando la ruta absoluta obtenida
    df = pd.read_csv(absolute_path)
    
    # Mostrar las primeras filas para revisar la estructura de los datos
    print(df.head())
else:
    print(f'El archivo "{file_name}" no se encuentra en el directorio actual.')

Ruta absoluta del archivo: /mnt/batch/tasks/shared/LS_root/mounts/clusters/aurelio-parra/code/Users/aurelio.sosa.netmind/Pandas/Pandas_Numpy/sales (2).csv
   ordernumber  orderlinenumber   orderdate shippeddate requireddate  \
0        10100                1  2003-01-06  2003-01-10   2003-01-13
1        10100                2  2003-01-06  2003-01-10   2003-01-13
2        10100                3  2003-01-06  2003-01-10   2003-01-13
3        10100                4  2003-01-06  2003-01-10   2003-01-13
4        10101                1  2003-01-09  2003-01-11   2003-01-18

   customernumber  employeenumber productcode   status  \
0             363            1216    S24_3969  Shipped
1             363            1216    S18_2248  Shipped
2             363            1216    S18_1749  Shipped
3             363            1216    S18_4409  Shipped
4             128            1504    S18_2795  Shipped

                 comments  quantityordered  priceeach  sales_amount
0                     NaN               49      35.29       1729.21
1                     NaN               50      55.09       2754.50
2                     NaN               30     136.00       4080.00
3                     NaN               22      75.46       1660.12
4  Check on availability.               26     167.06       4343.56

Aquí tienes el código ajustado para que la representación de los datos sea más visual usando tablas interactivas. También te permitirá elegir qué columnas y filas mostrar:

### Explicación de los cambios:
1. **Visualización Mejorada:**  
   Utilizo `display()` de `IPython.display` para mostrar las tablas de manera más amigable, especialmente útil si trabajas en Jupyter o Azure Notebooks.

2. **Selección de Columnas y Filas:**
   - **`columnas_deseadas`:** Aquí puedes personalizar qué columnas deseas ver.
   - **`filas_deseadas`:** Controla qué filas mostrar usando `iloc[]` (índices de filas).

### Cómo Personalizar:
- **Cambiar el número de filas que muestra `head`:**  
  Modifica `df.head(10)` a cualquier número que desees, por ejemplo, `df.head(20)`.

- **Seleccionar columnas específicas:**  
  Cambia `columnas_deseadas` para incluir las columnas que más te interesan.

- **Cambiar el rango de filas:**  
  Modifica `df.iloc[5:15]` para ajustar el rango de filas que quieres visualizar.

In [1]:
import pandas as pd
import os
from IPython.display import display  # Para mostrar tablas de forma más visual en Jupyter Notebooks

# Definir el nombre del archivo
file_name = 'sales (2).csv'

# Verificar la existencia del archivo en el directorio actual
if os.path.exists(file_name):
    # Obtener la ruta absoluta
    absolute_path = os.path.abspath(file_name)
    print(f'Ruta absoluta del archivo: {absolute_path}')
    
    # Cargar el archivo CSV usando la ruta absoluta obtenida
    df = pd.read_csv(absolute_path)
    
    # Visualización más clara de las primeras filas
    display(df.head(10))  # Cambia el número de filas que deseas mostrar aquí
    
    # --- Selección personalizada de filas y columnas ---
    columnas_deseadas = ['orderdate', 'productcode', 'quantityordered', 'sales_amount']  # Cambia las columnas aquí
    filas_deseadas = df.iloc[5:15]  # Cambia el rango de filas que deseas visualizar
    
    # Mostrar la selección personalizada
    display(filas_deseadas[columnas_deseadas])

else:
    print(f'El archivo "{file_name}" no se encuentra en el directorio actual.')

Ruta absoluta del archivo: /mnt/batch/tasks/shared/LS_root/mounts/clusters/aurelio-parra/code/Users/aurelio.sosa.netmind/Pandas/Pandas_Numpy/sales (2).csv

,ordernumber,orderlinenumber,orderdate,shippeddate,requireddate,customernumber,employeenumber,productcode,status,comments,quantityordered,priceeach,sales_amount
0,10100,1,2003-01-06,2003-01-10,2003-01-13,363,1216,S24_3969,Shipped,NaN,49,35.29,1729.21
1,10100,2,2003-01-06,2003-01-10,2003-01-13,363,1216,S18_2248,Shipped,NaN,50,55.09,2754.50
2,10100,3,2003-01-06,2003-01-10,2003-01-13,363,1216,S18_1749,Shipped,NaN,30,136.00,4080.00
3,10100,4,2003-01-06,2003-01-10,2003-01-13,363,1216,S18_4409,Shipped,NaN,22,75.46,1660.12
4,10101,1,2003-01-09,2003-01-11,2003-01-18,128,1504,S18_2795,Shipped,Check on availability.,26,167.06,4343.56
5,10101,2,2003-01-09,2003-01-11,2003-01-18,128,1504,S24_2022,Shipped,Check on availability.,46,44.35,2040.10
6,10101,3,2003-01-09,2003-01-11,2003-01-18,128,1504,S24_1937,Shipped,Check on availability.,45,32.53,1463.85
7,10101,4,2003-01-09,2003-01-11,2003-01-18,128,1504,S18_2325,Shipped,Check on availability.,25,108.06,2701.50
8,10102,1,2003-01-10,2003-01-14,2003-01-18,181,1286,S18_1367,Shipped,NaN,41,43.13,1768.33
9,10102,2,2003-01-10,2003-01-14,2003-01-18,181,1286,S18_1342,Shipped,NaN,39,95.55,3726.45

     orderdate productcode  quantityordered  sales_amount
5   2003-01-09    S24_2022               46       2040.10
6   2003-01-09    S24_1937               45       1463.85
7   2003-01-09    S18_2325               25       2701.50
8   2003-01-10    S18_1367               41       1768.33
9   2003-01-10    S18_1342               39       3726.45
10  2003-01-29    S24_2300               36       3864.24
11  2003-01-29    S18_2432               22       1283.48
12  2003-01-29    S32_1268               31       2866.26
13  2003-01-29    S10_4962               42       5026.14
14  2003-01-29    S18_4600               36       3530.52